body {
  background-image: url("../image/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -50px;
  @media (max-width: 1199px) {
    margin-bottom: -65px;
  }
}
.content-section {
  @media (max-width: 1024px) {
    margin-top: 97px;
  }
  @media (max-width: 769px) {
    margin-top: 130px;
  }
  .container {
    position: relative;

    .background-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 1320px;
      height: 469px;
      @media (max-width: 1400px) {
        left: -92px;
      }
      @media (max-width: 1350px) {
        left: -92px;
      }
      @media (max-width: 1199px) {
        left: -179px;
      }
      @media (max-width: 1024px) {
        left: -195px;
      }
    }
    .row {
      position: relative;
      margin-top: -95px;
      .product-slider {
        position: relative;

        .slick-track {
          margin-left: 0;
        }

        .slick-list {
          position: relative;
          z-index: 1;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -3px;
          margin: 0 auto;
          background-image: url(../image/slider-bottom.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 1160px;
          height: 69px;
          @media (max-width: 1199px) {
            width: 974px;
            bottom: -10px;
          }

          @media (max-width: 1024px) {
            width: 928px;
            bottom: -11px;
          }
          @media (max-width: 991px) {
            width: 771px;
            bottom: -18px;
          }
          @media (max-width: 769px) {
            bottom: -21px;
            left: -21px;
            width: 705px;
          }
        }
        .product-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          @media (max-width: 769px) {
            width: 174px;
          }
          .image {
            height: 162px;
            @media (max-width: 1199px) {
              height: 166px;
            }
            @media (max-width: 1024px) {
              height: 168px;
            }
            @media (max-width: 991px) {
              height: 173px;
            }
            @media (max-width: 769px) {
              height: 175px;
            }

            img {
              display: block;
              height: 153px;
              object-fit: contain;
              @media (max-width: 1199px) {
                height: 167px;
              }
              @media (max-width: 1024px) {
                height: 168px;
              }
              @media (max-width: 991px) {
                height: 180px;
              }
              @media (max-width: 769px) {
                height: 176px;
              }
            }
          }
          .title {
            h4 {
              font-size: 16px;
              color: white;
              font-weight: 700;
            }
          }
          .price {
            background-color: white;
            border: 6px solid #aed6f1;
            padding: 0 10px;
            margin-top: -30px;
            @media (max-width: 1199px) {
              border: 4px solid #aed6f1;
            }

            h4 {
              color: black;
              font-weight: 900;
              font-size: 15px;
            }
          }
          .button-wrap {
            button {
              border: none;
              background: none;
              img {
                display: block;
                height: 34px;
                object-fit: contain;
                @media (max-width: 991px) {
                  height: 28px;
                }
              }
            }
          }
        }
      }
      .instraction-box {
        img {
          position: absolute;
          width: 100px;
          right: -87px;
          bottom: 5px;
          @media (max-width: 1440px) {
            right: -38px;
          }
          @media (max-width: 1399px) {
            right: -128px;
          }
          @media (max-width: 1350px) {
            right: -103gpx;
          }
          @media (max-width: 1199px) {
            right: -103px;
          }
          @media (max-width: 1024px) {
            right: -26px;
          }
          @media (max-width: 991px) {
            right: -125px;
          }
          @media (max-width: 769px) {
            right: -23px;
            bottom: 206px;
            width: 86px;
          }
          @media (max-width: 575px) {
            right: 2px;
            bottom: 209px;
          }
          @media (max-width: 424px) {
            right: 2px;
            bottom: 49px;
          }
        }
      }
    }
  }
}
